<%- include('../partials/header')  -%> 

<div class="container">
    <h1 style="text-align: center;">Add a new comment to <%= puja.name %>  </h1>

    <div style="width: 30%; margin: 25px auto;">
        <form action="/pujas/ <%= puja._id %> " method="POST">
            <div class="form-group">
                <label for="text">Text</label>
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
                <small id="nameHelp" class="form-text text-muted">This is really very important.</small>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input class="form-control" type="text" name="comment[author]" placeholder="author">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit!</button>
        </form>  
        <a href="/pujas">Back</a> 
    </div>
    


</div>


<%- include('../partials/footer')  -%> 
