<%- include('partials/header')  -%> 

<h1>Create a new Puja Pandal</h1>

<form action="/places" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit!</button>
</form>

<a href="/places">Back</a>
<%- include('partials/footer')  -%> 
