<%- include('./partials/header') -%> 

<h1>This is the places page!</h1>

<% places.forEach((place) => { %>
    <div>
        <h4><%= place.name %></h4>
        <img src="<%= place.images %> ">
    </div>
        


<% }); %>

<%- include('./partials/footer') -%> 